
  select * into vin from authors where 1=2
    select * into vas from authors where 1=1
	   select * into val from authors where 1=3

  select * from vin
  where au_lname = 'white'
  select * from authors
  where au_lname = 'white'
  
  select au_lname from vin
  where au_lname = 'white'
  select au_lname from authors
  where au_lname = 'white'

  select au_fname from vin
  where au_fname = 'johnson'
  select au_fname from authors
  where au_fname = 'johnson'

 select * from vin
  where au_fname = 'johnson'
  select  * from authors
  where au_fname = 'johnson'

  select * from auth

  select * from vas
  select * from val

